---
import { getCollection } from "astro:content";
import { getEntry } from "astro:content";
import BlogPostLayout from "../../layouts/blog-post-layout.astro";
import ArrowLeft from "../../components/icons/arrow-left.vue";
import readingTime from "reading-time";

const { slug } = Astro.params;
if (!slug) throw new Error("Slug not found");

const article = await getEntry("articles", slug);
if (!article) throw new Error(`Article not found for slug: ${slug}`);
const minutesRead = readingTime(article.body ?? "").text;
const { Content } = await article.render();

export async function getStaticPaths() {
  const articles = await getCollection("articles");
  return articles.map((post) => ({ params: { slug: post.slug } }));
}
---

<BlogPostLayout title={article.data.title}>
  <section class="max-w-sm md:max-w-2xl w-full mx-auto">
    <header class="grid gap-3 mb-4 relative">
      <h1 class="text-3xl font-semibold mb-2 order-2">{article.data.title}</h1>
      <div
        class="lg:absolute order-1 right-full w-[150px] flex flex-col lg:items-end gap-2 top-0 mr-8 mb-4"
      >
        <div class="size-8 bg-orange-600 rounded"></div>
        <span class="text-sm text-muted-foreground">{minutesRead}</span>
        <div class="flex flex-col gap-2 lg:items-end">
          <span class="text-sm text-muted-foreground">
            {
              new Date(article.data.date).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })
            }
          </span>
        </div>
        <a href="/" class="flex items-center gap-1">
          <ArrowLeft class="size-4" /> Back</a
        >
      </div>
    </header>
    <div class="prose max-w-[calc(100vw-4rem)] dark:prose-invert md:max-w-2xl">
      <Content />
    </div>
  </section>
</BlogPostLayout>
