html[class="dark"] {
  background-color: #1C1C1E;
  color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

html[class="light"] {
  background-color: #F2F2F7;
  color: #000;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}