---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { PortfolioList } from "../store/portfolio";
---

<DefaultLayout title="home">
  <main class="prose prose-invert mx-auto slide-enter-content">
    <article class="mb-8">
      <div>
        <h5 class="flex mb-4 font-semibold text-gray-950 dark:text-white">
          Hafid Nur Kholis
        </h5>
      </div>
      <p class="text-gray-800 dark:text-text mb-2">
        Hello, I'm Hafid, a junior front-end developer with experience in UI
        design using Figma and crafting user interfaces with Vue and React.
      </p>
      <p class="text-gray-800 dark:text-text mb-2"></p>
      <p class="text-gray-800 dark:text-text">
        As a long-life learner, I continuously adapt to the latest technologies.
        Currently, I am learning meta framework like Nextjs and some backend
        stuff with Typescript.
      </p>
    </article>

    <article class="my-8">
      <p
        class="text-gray-950 dark:text-white inline-flex items-center gap-1 mb-2 font-semibold"
      >
        <i
          class="ph-duotone ph-puzzle-piece no-underline text-gray-950 dark:text-white"
        ></i>
        Project
      </p>
      <p class="text-gray-800 dark:text-text mb-4">
        Some projects I've completed as part of my learning journey that I'd
        like to show you.
      </p>
      <div class="grid sm:grid-cols-2 gap-6">
        {
          PortfolioList.map((portfolio) => (
            <div class="bg-gray-50/10 dark:bg-white/5 p-3 border border-gray-300 dark:border-gray-200/10 rounded-lg">
              <a
                href={portfolio.link}
                rel="noreferer"
                target="_blank"
                class="block no-underline group text-base"
              >
                <span class="flex items-center gap-1">
                  <span class="underline underline-offset-4 decoration-gray-400 dark:decoration-white/20 group-hover:decoration-gray-700 dark:group-hover:decoration-white block text-gray-950 dark:text-white mb-1">
                    {portfolio.title}
                  </span>
                  <i class="ph-duotone ph-arrow-up-right no-underline text-gray-800 dark:text-text mb-1" />
                </span>
                <span class="text-gray-800 dark:text-text font-normaltext-sm">
                  {portfolio.description}
                </span>
              </a>
            </div>
          ))
        }
      </div>
    </article>
  </main>
</DefaultLayout>
