---
import { Image } from "astro:assets";
import Clock from "./clock.vue";
import Instagram from "./icons/instagram.vue";
import Linkedin from "./icons/linkedin.vue";
import Github from "./icons/github.vue";
---

<footer class="footer">
  <div class="max-w-7xl w-full mx-auto h-full">
    <section
      class="py-6 container max-w-7xl mx-auto relative flex justify-between border-x-dashed px-4"
    >
      <div>
        <h4 class="text-xl mb-8">Reach me out</h4>
        <a href="mailto:kholishafid@gmail.com" class="text-3xl font-semibold mb-8 block">kholishafid@gmail.com</a>
        <div class="flex gap-4 mb-8">
          <a
            href="https://www.instagram.com/levi.milev/"
            rel="noreferrer"
            target="_blank"
            title="instagram"
            aria-label="instagram"
          >
            <Instagram />
          </a>

          <a
            href="https://www.linkedin.com/in/kholishafid/"
            rel="noreferrer"
            target="_blank"
            title="linkedin"
            aria-label="linkedin"
          >
            <Linkedin />
          </a>

          <a
            href="https//github.com/kholishafid"
            rel="noreferrer"
            target="_blank"
            title="github"
            aria-label="github"
          >
            <Github />
          </a>
        </div>
        <div class="flex gap-6 items-center">
          <h5 class="text-xl">
            Surakarta,
            <br /> Indonesia
          </h5>
          <div>
            <Clock client:load />
          </div>
          <div
            class="rounded-full overflow-hidden border border-white/40 group"
          >
            <Image
              src="/images/surakarta.webp"
              alt="Keraton Surakarta Hadiningrat"
              class="rounded-full group-hover:scale-125 transition-transform duration-300 ease-in-out"
              width={112}
              height={64}
            />
          </div>
        </div>
      </div>
    </section>
    <Image
      src="/images/geometry-1.svg"
      alt="Geometric Shape"
      width={700}
      height={700}
      class="absolute bottom-[-350px] right-1/2 translate-x-1/2 geometry-rotate pointer-events-none"
    />
  </div>
</footer>
