---
import ThemeToggle from "./theme-toggle.vue";
---

<nav class="navbar">
  <section class="max-w-7xl mx-auto navbar__content">
    <div
      class="flex items-center justify-between container px-4 border-x-dashed py-4"
    >
      <a
        href="/"
      >
        <img
          src="/img/mark-dark.png"
          alt="mark"
          width="48"
          class="block dark:hidden"
        />
        <img
          src="/img/mark.png"
          alt="mark dark"
          width="48"
          class="dark:block hidden"
        />
      </a>
      <div class="flex gap-2">
        <ThemeToggle client:only="vue" />
        <button class="h-10 w-10 grid place-items-center rounded-full">
          <a
            href="//github.com/kholishafid"
            rel="noreferrer"
            target="_blank"
            title="github"
          >
            <i class="ph-duotone ph-github-logo text-2xl inline-block github"
            ></i>
          </a>
        </button>
      </div>
    </div>
  </section>
</nav>
