<nav class="flex items-center justify-between container max-w-prose mx-auto py-6">
  <span class="text-text font-bold">kholishafid</span>
  <div>
    <button class="fancy-shadow">
      <a href="//github.com/kholishafid" rel="noreferrer" target="_blank" title="github" class="text-white">
        <i class="ph-duotone ph-github-logo text-2xl inline-block github"></i>
      </a>
    </button>
  </div>
</nav>
