---
import ThemeToggle from "./ThemeToggle.vue";
---

<nav class="flex items-center justify-between container max-w-xl mx-auto py-6">
  <a
    href="/"
    class="text-slate-800 dark:text-text font-bold group flex transition text-2xl"
    ><i class="ph-duotone ph-plant"></i></a
  >
  <div class="flex gap-2">
    <ThemeToggle client:only="vue" />
    <button
      class="hover:bg-slate-800/5 dark:hover:bg-black h-10 w-10 grid place-items-center rounded-full"
    >
      <a
        href="//github.com/kholishafid"
        rel="noreferrer"
        target="_blank"
        title="github"
        class="text-slate-800 dark:text-text"
      >
        <i class="ph-duotone ph-github-logo text-2xl inline-block github"></i>
      </a>
    </button>
  </div>
</nav>
