---
import "../assets/inter.css";
import "../assets/variables.css";
import "../assets/layout.css";
const { title } = Astro.props;
---

<html>
  <head>
    <script is:inline>
      const theme = localStorage.getItem("kholishafid-site-theme");
      if (!theme) {
        document.documentElement.setAttribute("class", "dark");
      }
      theme === "light"
        ? document.documentElement.setAttribute("class", "light")
        : document.documentElement.setAttribute("class", "dark");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kholishafid | {title}</title>
    <meta name="description" content="Hafid is a web developer" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script
      src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"
    ></script>
    <script>
      const theme = localStorage.getItem("kholishafid-site-theme");
      if (theme === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>
  </head>
  <body>
    <div class="page-section my-2 h-[calc(100vh-16px)] overflow-auto">
      <div class="page-section__content page-section__content--blog">
        <slot />
      </div>
    </div>
  </body>
</html>
