---
import Clock from '../components/Clock.vue'
const { title } = Astro.props
import Navbar from '../components/Navbar.astro'
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kholishafid | {title}</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/duotone/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
  </head>
  <body class="bg-background max-md:px-4 max-lg:px-6">
    <Navbar />
    <div class="my-16">
      <slot />
    </div>
    <footer class="">
      <section class="py-6 container max-w-prose mx-auto relative flex justify-between">
        <p class="text-text/50">2023</p>
        <div>
          <Clock client:load />
        </div>
      </section>
    </footer>
  </body>
</html>
