---
import Clock from "../components/Clock.vue";
import Navbar from "../components/Navbar.astro";
import "../assets/index.css";

const { title } = Astro.props;
---

<html lang="en" class="dark">
  <head>
    <script>
      const theme = localStorage.getItem("kholishafid-site-theme");
      if (!theme) {
        document.documentElement.setAttribute("class", "dark");
      }
      theme === "light"
        ? document.documentElement.setAttribute("class", "light")
        : document.documentElement.setAttribute("class", "dark");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kholishafid | {title}</title>
    <meta name="description" content="Hafid Personal Site" />
    <meta
      name="google-site-verification"
      content="LhxsukG4e_6uFjCaBSgbncMYTZJc67okmEdw5SP5EWo"
    />
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script
      defer
      src="https://umami-alpha-sooty.vercel.app/script.js"
      data-website-id="6c3285b5-8544-4999-980b-ae23caf9c367"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/duotone/style.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="max-md:px-4 max-lg:px-6 flex flex-col min-h-screen overflow-y-scroll"
  >
    <Navbar />
    <div class="my-16 flex-1 w-full max-w-xl mx-auto">
      <slot />
    </div>
    <footer class="max-w-xl w-full mx-auto">
      <section
        class="py-6 container max-w-xl mx-auto relative flex justify-between"
      >
        <p class="text-neutral-800 dark:text-text italic text-sm">
          Mulat Sarira Hangrasa Wani
        </p>
        <div>
          <Clock client:load />
        </div>
      </section>
    </footer>
  </body>
</html>
