---
import Navbar from "../components/navbar.astro";

import "../assets/inter.css";
import "../assets/variables.css";
import "../assets/layout.css";
import Footer from "../components/footer.astro";

const { title } = Astro.props;
---

<html lang="en" class="dark">
  <head>
    <script is:inline>
      const theme = localStorage.getItem("kholishafid-site-theme");
      if (!theme) {
        document.documentElement.setAttribute("class", "dark");
      }
      theme === "light"
        ? document.documentElement.setAttribute("class", "light")
        : document.documentElement.setAttribute("class", "dark");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kholishafid | {title}</title>
    <meta name="description" content="Hafid is a web developer" />
    <meta
      name="google-site-verification"
      content="LhxsukG4e_6uFjCaBSgbncMYTZJc67okmEdw5SP5EWo"
    />
    <meta name="robots" content="index, follow" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script
      defer
      src="https://umami-alpha-sooty.vercel.app/script.js"
      data-website-id="6c3285b5-8544-4999-980b-ae23caf9c367"></script>
  </head>
  <body class="pb-[425px]">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
