---
import { getCollection } from 'astro:content'
import { parseDate } from '../../helper/timeParser'
import BlogPostLayout from '../../layouts/BlogPostLayout.astro'
// import { Image } from 'astro:assets'

export async function getStaticPaths() {
  const blogEntries = await getCollection('project-euler')
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content, remarkPluginFrontmatter } = await entry.render()
---

<BlogPostLayout title={entry.data.title}>
  <article class="prose prose-invert mx-auto mt-16 relative">
    <section class="fixed -ml-24">
      <a href="/project-euler" class="text-text/50 underline-offset-4 hover:text-text text-sm font-normal">
        <i class="ph-duotone ph-arrow-left"></i>
         back
      </a>
    </section>

    <section class="slide-enter-content">
      <h1 class="mb-0">{entry.data.title}</h1>
      <div>
        <span class="text-sm text-text/50">{parseDate(entry.data.pubDate)}</span>
        <span class="text-sm text-text/50 mx-2">|</span>
        <span class="text-sm text-text/50">{remarkPluginFrontmatter.minutesRead}</span>
      </div>
    </section>

    <section class="slide-enter-content">
      <Content />
    </section>
  </article>
</BlogPostLayout>
